In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('968442106_T_T100D_MARKET_US_CARRIER_ONLY 2.csv')

In [5]:
data.head()

,PASSENGERS,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,...,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 34
0,0,39,2O,20443,Island Air Service,06981,D,2O,Island Air Service,1,...,AK,2,Alaska,1,2014,1,1,1,F,NaN
1,0,78,2O,20443,Island Air Service,06981,D,2O,Island Air Service,1,...,AK,2,Alaska,1,2014,1,1,1,F,NaN
2,0,49,2O,20443,Island Air Service,06981,D,2O,Island Air Service,1,...,AK,2,Alaska,1,2014,1,1,1,F,NaN
3,0,30,2O,20443,Island Air Service,06981,D,2O,Island Air Service,1,...,AK,2,Alaska,1,2014,1,1,1,F,NaN
4,0,40,4E,20322,Tanana Air Service,06969,D,4E,Tanana Air Service,1,...,AK,2,Alaska,1,2014,1,1,1,F,NaN

In [6]:
data.shape

(256248, 35)

In [7]:
data['PASSENGERS'].sum()

664984910.0

In [9]:
data.columns

Index([u'PASSENGERS', u'DISTANCE', u'UNIQUE_CARRIER', u'AIRLINE_ID', u'UNIQUE_CARRIER_NAME', u'UNIQUE_CARRIER_ENTITY', u'REGION', u'CARRIER', u'CARRIER_NAME', u'CARRIER_GROUP', u'CARRIER_GROUP_NEW', u'ORIGIN_AIRPORT_ID', u'ORIGIN_AIRPORT_SEQ_ID', u'ORIGIN_CITY_MARKET_ID', u'ORIGIN', u'ORIGIN_CITY_NAME', u'ORIGIN_STATE_ABR', u'ORIGIN_STATE_FIPS', u'ORIGIN_STATE_NM', u'ORIGIN_WAC', u'DEST_AIRPORT_ID', u'DEST_AIRPORT_SEQ_ID', u'DEST_CITY_MARKET_ID', u'DEST', u'DEST_CITY_NAME', u'DEST_STATE_ABR', u'DEST_STATE_FIPS', u'DEST_STATE_NM', u'DEST_WAC', u'YEAR', u'QUARTER', u'MONTH', u'DISTANCE_GROUP', u'CLASS', u'Unnamed: 34'], dtype='object')

In [23]:
dest_cities = data.DEST_CITY_NAME.unique().tolist()
print str(len(dest_cities)) + ' destination cities'
dest_cities.sort()

orig_cities = data.ORIGIN_CITY_NAME.unique().tolist()
print str(len(orig_cities)) + ' origin cities'
orig_cities.sort()

1058 destination cities
1033 origin cities

In [133]:
grouped = data.groupby(['ORIGIN_CITY_NAME','DEST_CITY_NAME'])['PASSENGERS'].sum()

In [134]:
grouped.sort(ascending=False)

In [135]:
grouped = grouped.unstack(level=0)
grouped = grouped.fillna(0)

In [136]:
grouped.shape

(1058, 1033)

In [147]:
grouped['sum'] = grouped.sum()
grouped.sort('sum', ascending=False, inplace=True)

In [152]:
grouped['Aberdeen, SD'].sum()

26388.0

In [160]:
grouped.drop('sum', axis=1, inplace=True)

In [168]:
rows = grouped.sum(axis=0).order(ascending=False)

In [169]:
cols = grouped.sum(axis=1).order(ascending=False)

In [173]:
grouped = grouped.reindex_axis(rows.index, axis=0)
grouped = grouped.reindex_axis(cols.index, axis=1)

In [174]:
grouped.head()

DEST_CITY_NAME,"Atlanta, GA","Chicago, IL","Dallas/Fort Worth, TX","Los Angeles, CA","New York, NY","Denver, CO","Houston, TX","Charlotte, NC","Phoenix, AZ","Las Vegas, NV",...,"Mojave, CA","Sparrevohn, AK","Kuparuk, AK","Jackson, MS","Inyokern, CA","Gallup, NM","Fort Dix, NJ","Gaylord, MI","Gila Bend, AZ","Watsonville, CA"
ORIGIN_CITY_NAME,,,,,,,,,,,,,,,,,,,,,
"Atlanta, GA",56,1227454,989058,897836,1293127,701878,901042,888865,575834,659568,...,0,0,0,0,0,0,0,0,0,NaN
"Chicago, IL",1237623,190,964805,1480121,1921666,1144416,895274,639975,995254,910572,...,0,0,0,0,0,0,0,0,0,NaN
"Dallas/Fort Worth, TX",1016423,972014,530,1153797,840163,855128,666034,612910,655916,659250,...,0,0,0,0,0,0,0,0,0,NaN
"Los Angeles, CA",890942,1441189,1163039,0,1598786,952554,935741,320907,803514,1187661,...,0,0,0,0,0,0,0,0,0,NaN
"New York, NY",1297184,1907583,828679,1617983,696,589705,555443,995873,320654,553163,...,0,0,0,0,0,0,0,0,0,NaN

In [223]:
top_10 = grouped.ix[:20,:20]

In [224]:
top_10

DEST_CITY_NAME,"Atlanta, GA","Chicago, IL","Dallas/Fort Worth, TX","Los Angeles, CA","New York, NY","Denver, CO","Houston, TX","Charlotte, NC","Phoenix, AZ","Las Vegas, NV","San Francisco, CA","Washington, DC","Seattle, WA","Minneapolis, MN","Orlando, FL","Detroit, MI","Boston, MA","Philadelphia, PA","Newark, NJ","Baltimore, MD"
ORIGIN_CITY_NAME,,,,,,,,,,,,,,,,,,,,
"Atlanta, GA",56,1227454,989058,897836,1293127,701878,901042,888865,575834,659568,611484,1154819,453899,726194,1249021,645556,710745,827211,473963,720787
"Chicago, IL",1237623,190,964805,1480121,1921666,1144416,895274,639975,995254,910572,1229723,1190282,785798,1279703,880868,749731,1055197,857526,857142,494615
"Dallas/Fort Worth, TX",1016423,972014,530,1153797,840163,855128,666034,612910,655916,659250,723893,666912,541151,477452,565936,430391,472722,520700,340142,264779
"Los Angeles, CA",890942,1441189,1163039,0,1598786,952554,935741,320907,803514,1187661,1782369,709874,971298,536068,338933,380310,544662,350705,679894,143456
"New York, NY",1297184,1907583,828679,1617983,696,589705,555443,995873,320654,553163,1140095,715409,310029,461094,1148453,548405,911271,223638,238,48660
"Denver, CO",705150,1159791,860948,938658,590103,0,907665,297072,1102545,864486,784276,670041,739783,774410,411155,383464,359241,322369,386074,255601
"Houston, TX",917318,895659,679478,911712,556646,929020,0,460871,580698,649302,503363,513018,349138,211076,588379,269838,364585,241648,600103,244492
"Charlotte, NC",888889,651268,597424,335442,987189,303397,464947,0,484535,285709,327735,538797,146032,293286,539545,392509,526396,408418,504867,459005
"Phoenix, AZ",577818,1024415,667383,795035,319293,1072726,576931,498528,41,681931,529751,207369,662653,665835,209092,398010,210567,402664,330643,227951
"Las Vegas, NV",659989,932818,681608,1136116,549536,875879,659948,262282,688019,2428,855581,152259,644754,506649,126261,476355,113148,370194,262678,284352
"San Francisco, CA",616807,1196522,725983,1820629,1131581,849551,505180,317707,524668,864371,0,644302,929684,399192,143361,262052,618882,364085,714989,48827
"Washington, DC",1148270,1175804,664486,713469,728498,645854,540819,552409,197686,162266,636319,442,249454,388575,588448,392225,1002689,189620,194178,344
"Seattle, WA",466144,768972,538572,966015,308346,755189,347641,141877,667659,649855,948011,236382,6099,513994,74148,267305,226457,157973,244646,52814
"Minneapolis, MN",725842,1296685,473475,523154,464682,762296,215214,297415,655974,502167,394939,388197,519681,0,379173,381654,295498,274486,189555,152343
"Orlando, FL",1244631,902433,562649,329842,1183223,402064,586216,540886,205960,118022,136797,597088,75568,371601,0,499903,375864,647567,686595,410931
"Detroit, MI",639363,753001,426409,386881,539633,372654,259523,383836,387460,477241,267285,391753,272676,377446,499108,54,342044,326657,221428,298380
"Boston, MA",709856,1067920,469390,567005,904301,349905,360813,544869,201259,110168,620558,972222,226357,294281,371448,347771,87,652541,496684,496887
"Philadelphia, PA",843008,840431,518718,361380,209982,325112,238640,415155,421308,382872,375062,201383,162518,271396,642314,328985,642954,0,80031,121857
"Newark, NJ",472621,847526,330697,695571,39,387916,578564,496427,326502,265603,730358,190410,252387,187000,676159,220645,478253,83641,0,43010
"Baltimore, MD",717663,493813,263193,143612,46346,247716,239214,450987,236242,274202,52888,243,50114,149022,413513,293151,495055,125089,42157,32

In [225]:
matrix = top_10.as_matrix().tolist()

In [226]:
matrix

[[56.0,
  1227454.0,
  989058.0,
  897836.0,
  1293127.0,
  701878.0,
  901042.0,
  888865.0,
  575834.0,
  659568.0,
  611484.0,
  1154819.0,
  453899.0,
  726194.0,
  1249021.0,
  645556.0,
  710745.0,
  827211.0,
  473963.0,
  720787.0],
 [1237623.0,
  190.0,
  964805.0,
  1480121.0,
  1921666.0,
  1144416.0,
  895274.0,
  639975.0,
  995254.0,
  910572.0,
  1229723.0,
  1190282.0,
  785798.0,
  1279703.0,
  880868.0,
  749731.0,
  1055197.0,
  857526.0,
  857142.0,
  494615.0],
 [1016423.0,
  972014.0,
  530.0,
  1153797.0,
  840163.0,
  855128.0,
  666034.0,
  612910.0,
  655916.0,
  659250.0,
  723893.0,
  666912.0,
  541151.0,
  477452.0,
  565936.0,
  430391.0,
  472722.0,
  520700.0,
  340142.0,
  264779.0],
 [890942.0,
  1441189.0,
  1163039.0,
  0.0,
  1598786.0,
  952554.0,
  935741.0,
  320907.0,
  803514.0,
  1187661.0,
  1782369.0,
  709874.0,
  971298.0,
  536068.0,
  338933.0,
  380310.0,
  544662.0,
  350705.0,
  679894.0,
  143456.0],
 [1297184.0,
  1907583.0,
  828679.0,
  1617983.0,
  696.0,
  589705.0,
  555443.0,
  995873.0,
  320654.0,
  553163.0,
  1140095.0,
  715409.0,
  310029.0,
  461094.0,
  1148453.0,
  548405.0,
  911271.0,
  223638.0,
  238.0,
  48660.0],
 [705150.0,
  1159791.0,
  860948.0,
  938658.0,
  590103.0,
  0.0,
  907665.0,
  297072.0,
  1102545.0,
  864486.0,
  784276.0,
  670041.0,
  739783.0,
  774410.0,
  411155.0,
  383464.0,
  359241.0,
  322369.0,
  386074.0,
  255601.0],
 [917318.0,
  895659.0,
  679478.0,
  911712.0,
  556646.0,
  929020.0,
  0.0,
  460871.0,
  580698.0,
  649302.0,
  503363.0,
  513018.0,
  349138.0,
  211076.0,
  588379.0,
  269838.0,
  364585.0,
  241648.0,
  600103.0,
  244492.0],
 [888889.0,
  651268.0,
  597424.0,
  335442.0,
  987189.0,
  303397.0,
  464947.0,
  0.0,
  484535.0,
  285709.0,
  327735.0,
  538797.0,
  146032.0,
  293286.0,
  539545.0,
  392509.0,
  526396.0,
  408418.0,
  504867.0,
  459005.0],
 [577818.0,
  1024415.0,
  667383.0,
  795035.0,
  319293.0,
  1072726.0,
  576931.0,
  498528.0,
  41.0,
  681931.0,
  529751.0,
  207369.0,
  662653.0,
  665835.0,
  209092.0,
  398010.0,
  210567.0,
  402664.0,
  330643.0,
  227951.0],
 [659989.0,
  932818.0,
  681608.0,
  1136116.0,
  549536.0,
  875879.0,
  659948.0,
  262282.0,
  688019.0,
  2428.0,
  855581.0,
  152259.0,
  644754.0,
  506649.0,
  126261.0,
  476355.0,
  113148.0,
  370194.0,
  262678.0,
  284352.0],
 [616807.0,
  1196522.0,
  725983.0,
  1820629.0,
  1131581.0,
  849551.0,
  505180.0,
  317707.0,
  524668.0,
  864371.0,
  0.0,
  644302.0,
  929684.0,
  399192.0,
  143361.0,
  262052.0,
  618882.0,
  364085.0,
  714989.0,
  48827.0],
 [1148270.0,
  1175804.0,
  664486.0,
  713469.0,
  728498.0,
  645854.0,
  540819.0,
  552409.0,
  197686.0,
  162266.0,
  636319.0,
  442.0,
  249454.0,
  388575.0,
  588448.0,
  392225.0,
  1002689.0,
  189620.0,
  194178.0,
  344.0],
 [466144.0,
  768972.0,
  538572.0,
  966015.0,
  308346.0,
  755189.0,
  347641.0,
  141877.0,
  667659.0,
  649855.0,
  948011.0,
  236382.0,
  6099.0,
  513994.0,
  74148.0,
  267305.0,
  226457.0,
  157973.0,
  244646.0,
  52814.0],
 [725842.0,
  1296685.0,
  473475.0,
  523154.0,
  464682.0,
  762296.0,
  215214.0,
  297415.0,
  655974.0,
  502167.0,
  394939.0,
  388197.0,
  519681.0,
  0.0,
  379173.0,
  381654.0,
  295498.0,
  274486.0,
  189555.0,
  152343.0],
 [1244631.0,
  902433.0,
  562649.0,
  329842.0,
  1183223.0,
  402064.0,
  586216.0,
  540886.0,
  205960.0,
  118022.0,
  136797.0,
  597088.0,
  75568.0,
  371601.0,
  0.0,
  499903.0,
  375864.0,
  647567.0,
  686595.0,
  410931.0],
 [639363.0,
  753001.0,
  426409.0,
  386881.0,
  539633.0,
  372654.0,
  259523.0,
  383836.0,
  387460.0,
  477241.0,
  267285.0,
  391753.0,
  272676.0,
  377446.0,
  499108.0,
  54.0,
  342044.0,
  326657.0,
  221428.0,
  298380.0],
 [709856.0,
  1067920.0,
  469390.0,
  567005.0,
  904301.0,
  349905.0,
  360813.0,
  544869.0,
  201259.0,
  110168.0,
  620558.0,
  972222.0,
  226357.0,
  294281.0,
  371448.0,
  347771.0,
  87.0,
  652541.0,
  496684.0,
  496887.0],
 [843008.0,
  840431.0,
  518718.0,
  361380.0,
  209982.0,
  325112.0,
  238640.0,
  415155.0,
  421308.0,
  382872.0,
  375062.0,
  201383.0,
  162518.0,
  271396.0,
  642314.0,
  328985.0,
  642954.0,
  0.0,
  80031.0,
  121857.0],
 [472621.0,
  847526.0,
  330697.0,
  695571.0,
  39.0,
  387916.0,
  578564.0,
  496427.0,
  326502.0,
  265603.0,
  730358.0,
  190410.0,
  252387.0,
  187000.0,
  676159.0,
  220645.0,
  478253.0,
  83641.0,
  0.0,
  43010.0],
 [717663.0,
  493813.0,
  263193.0,
  143612.0,
  46346.0,
  247716.0,
  239214.0,
  450987.0,
  236242.0,
  274202.0,
  52888.0,
  243.0,
  50114.0,
  149022.0,
  413513.0,
  293151.0,
  495055.0,
  125089.0,
  42157.0,
  32.0]]

In [189]:
colors = ['#9ACD32','#377DB8','#F5DEB3','#EE82EE','#40E0D0','#FF6347',
'#D8BFD8','#D2B48C','#4682B4','#00FF7F','#FFFAFA','#708090'
,'#708090'
,'#6A5ACD'
,'#87CEEB'
,'#A0522D'
,'#FFF5EE'
,'#2E8B57'
,'#F4A460'
,'#FA8072']

In [220]:
pwd

u'/Users/admin/projects/interactives-course/airlines'

In [198]:
top_10_cities = top_10.columns.tolist()

In [199]:
top_10_cities

['Atlanta, GA',
 'Chicago, IL',
 'Dallas/Fort Worth, TX',
 'Los Angeles, CA',
 'New York, NY',
 'Denver, CO',
 'Houston, TX',
 'Charlotte, NC',
 'Phoenix, AZ',
 'Las Vegas, NV']

In [222]:
len(colors)

20

In [228]:
len(colors)

20

In [227]:
cities = pd.DataFrame()
cities['name'] = top_10_cities
cities['color'] = colors

ValueError: Length of values does not match length of index

In [207]:
cities.to_csv('cities.csv')